# Pre-c√≥digo - eliminar hasta marca

In [16]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('LArealestate.csv')

In [4]:
df.head()

,address,beds,baths,sqft,date,price,city,type
0,1005 Benedict Canyon Dr,8.0,11.0,10379.0,03/08/2014Hilton & HylandFeatured,18000000.0,Beverly Hills,sfh
1,10084 Westwanda Dr,2.0,3.0,2013.0,12/11/2013Coldwell Banker Residential Brokerag...,950000.0,Beverly Hills,sfh
2,1009 N Beverly Dr,4.0,5.0,3476.0,03/18/2014Hilton & Hyland,9750000.0,Beverly Hills,sfh
3,1010 N Rexford Dr,5.0,6.5,7718.0,03/01/2014John Aaroe Group,16500000.0,Beverly Hills,sfh
4,10101 Angelo View Dr,3.0,1.5,4000.0,03/24/2014Rodeo Realty Inc.,24250000.0,Beverly Hills,sfh

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   address  255 non-null    object
 1   beds     254 non-null    float64
 2   baths    254 non-null    float64
 3   sqft     254 non-null    float64
 4   date     255 non-null    object
 5   price    255 non-null    float64
 6   city     255 non-null    object
 7   type     255 non-null    object
dtypes: float64(4), object(4)
memory usage: 16.1+ KB

In [7]:
df.city.value_counts()

Beverly Hills    148
Palms             49
culver city       30
Culver City       28
Name: city, dtype: int64

In [11]:
df2 = df.copy()

In [13]:
del df2['address']
del df2['date']
del df2['city']
del df2['type']

KeyError: 'address'

In [14]:
df2

     beds  baths     sqft       price
0     8.0   11.0  10379.0  18000000.0
1     2.0    3.0   2013.0    950000.0
2     4.0    5.0   3476.0   9750000.0
3     5.0    6.5   7718.0  16500000.0
4     3.0    1.5   4000.0  24250000.0
..    ...    ...      ...         ...
250   1.0    1.0    676.0    299000.0
251   2.0    3.0   1419.0    524000.0
252   1.0    1.0    692.0    349000.0
253   2.0    2.0    824.0    399000.0
254   2.0    2.0   1224.0    399000.0

[255 rows x 4 columns]

In [21]:
print(df2.isnull().sum())
df2.beds.replace(np.nan, np.nanmedian(df2.beds), inplace = True)
df2.baths.replace(np.nan, np.nanmedian(df2.baths), inplace = True)
df2.sqft.replace(np.nan, np.nanmedian(df2.sqft), inplace = True)

beds     0
baths    0
sqft     0
price    0
dtype: int64

In [23]:
X = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

## Pre c√≥digo a integrar - eliminar por encima hasta marca

## regression - multipolinomial o multilineal

**Lineal**

In [26]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [28]:
regresion_lineal = linear_model.LinearRegression()
regresion_lineal.fit(X_train, y_train)
yhat = regresion_lineal.predict(X_test)
r2_score(y_test,yhat)

-948.391249212151

**Polilineal**

In [29]:
from sklearn.preprocessing import PolynomialFeatures

In [43]:
poly = PolynomialFeatures(degree=4)
X_train_poly = poly.fit_transform(X_train)
X_train_poly

array([[1.00000000e+00, 6.00000000e+00, 6.00000000e+00, ...,
        1.01505960e+09, 8.98327746e+11, 7.95020055e+14],
       [1.00000000e+00, 3.00000000e+00, 1.00000000e+00, ...,
        2.40250000e+06, 3.72387500e+09, 5.77200625e+12],
       [1.00000000e+00, 4.00000000e+00, 2.00000000e+00, ...,
        1.12359040e+07, 9.41568755e+09, 7.89034617e+12],
       ...,
       [1.00000000e+00, 3.00000000e+00, 3.00000000e+00, ...,
        7.19782560e+07, 6.78515027e+10, 6.39613498e+13],
       [1.00000000e+00, 3.00000000e+00, 4.00000000e+00, ...,
        1.23743376e+08, 8.60325822e+10, 5.98141527e+13],
       [1.00000000e+00, 5.00000000e+00, 5.00000000e+00, ...,
        4.93506225e+08, 4.38529632e+11, 3.89677431e+14]])

In [44]:
regresion_poly = linear_model.LinearRegression()
regresion_poly.fit(X_train_poly, y_train)
X_test_poly = poly.fit_transform(X_test)
X_test_poly
yhat = regresion_poly.predict(X_test_poly)

In [45]:
r2_score(y_test,yhat)

-2.0373715135732422e+17